## Fetching Week's Worth of Common Stock Price Data

In [49]:
# Import dependencies
import requests
import json
import pandas as pd
from dotenv import load_dotenv, find_dotenv
import os
import time

# Load API Key
load_dotenv(find_dotenv('api.env')) # api.env not included in github. Please make separate env file.
api_key = os.getenv("POLYGON_KEY")

base_url = "https://api.polygon.io"

# Names of stock we want to grab
stockNames = ['SPY', 'QQQ', 'VXX', 'DIA']

multiplier = 5
timespan = 'minute' # multiplier + timespan = 5 minutes
t_from = '2024-03-18'
t_to = '2024-03-22'

df = pd.DataFrame() # Empty DF to merge below into

for stocksTicker in stockNames:

    query_url = f"{base_url}/v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{t_from}/{t_to}?adjusted=true&sort=asc&limit=50000&apiKey={api_key}"
    # Get the response
    response = requests.get(query_url)

    # Retrieve reviews
    reviews = response.json()

    # Only append DF if the result isn't empty
    if reviews['resultsCount'] > 0:
        # Convert JSON to Pandas Dataframe
        dft = pd.json_normalize(reviews["results"])
        dft = dft.rename(columns={'v':'Volume', 'vw':'Volume Weighted', 'o':'Open Price', 'c':'Close Price', 'h':'Highest Price', 'l':'Lowest Price', 't':'Timestamp', 'n':'Number of Transaction'})
        dft['Timestamp'] = pd.to_datetime(dft['Timestamp'], unit='ms')
        dft['Stock Name'] = stocksTicker

        df = pd.concat([df, dft], axis = 0, ignore_index= True)

In [50]:
# Grab data from 13:00 - 19:55 UTC only
testdf = df.copy()
testdf.set_index('Timestamp', inplace=True)
testdf = testdf.between_time('13:00:00', '19:55:00')
testdf = testdf.reset_index()
testdf

,Timestamp,Volume,Volume Weighted,Open Price,Close Price,Highest Price,Lowest Price,Number of Transaction,Stock Name
0,2024-03-18 13:00:00,39717.0,513.5795,513.52,513.57,513.66,513.52,308,SPY
1,2024-03-18 13:05:00,57825.0,513.5411,513.55,513.59,513.61,513.49,228,SPY
2,2024-03-18 13:10:00,7746.0,513.6786,513.59,513.69,513.74,513.59,158,SPY
3,2024-03-18 13:15:00,23093.0,513.7971,513.69,513.65,513.84,513.65,307,SPY
4,2024-03-18 13:20:00,11279.0,513.6390,513.68,513.65,513.70,513.57,214,SPY
...,...,...,...,...,...,...,...,...,...
1668,2024-03-22 19:35:00,33612.0,395.1014,395.01,395.10,395.16,395.00,505,DIA
1669,2024-03-22 19:40:00,33958.0,395.0963,395.10,395.18,395.23,394.99,657,DIA
1670,2024-03-22 19:45:00,48819.0,395.1423,395.16,395.22,395.22,395.08,756,DIA
1671,2024-03-22 19:50:00,110974.0,395.2337,395.24,395.14,395.31,395.13,1344,DIA
1672,2024-03-22 19:55:00,488431.0,396.1359,395.13,394.50,395.17,394.49,2486,DIA

In [51]:
#Save data to CSV
testdf.to_csv('../Data/stocks-agg-03-18-03-22.csv', date_format='%Y-%m-%d %H:%M:%S', index=False)

In [73]:
# Test CSV Import

testdf = pd.read_csv('../Data/stocks-agg-03-18-03-22.csv', parse_dates=['Timestamp'])
testdf

,Timestamp,Volume,Volume Weighted,Open Price,Close Price,Highest Price,Lowest Price,Number of Transaction,Stock Name
0,2024-03-18 13:00:00,39717.0,513.5795,513.52,513.57,513.66,513.52,308,SPY
1,2024-03-18 13:05:00,57825.0,513.5411,513.55,513.59,513.61,513.49,228,SPY
2,2024-03-18 13:10:00,7746.0,513.6786,513.59,513.69,513.74,513.59,158,SPY
3,2024-03-18 13:15:00,23093.0,513.7971,513.69,513.65,513.84,513.65,307,SPY
4,2024-03-18 13:20:00,11279.0,513.6390,513.68,513.65,513.70,513.57,214,SPY
...,...,...,...,...,...,...,...,...,...
1668,2024-03-22 19:35:00,33612.0,395.1014,395.01,395.10,395.16,395.00,505,DIA
1669,2024-03-22 19:40:00,33958.0,395.0963,395.10,395.18,395.23,394.99,657,DIA
1670,2024-03-22 19:45:00,48819.0,395.1423,395.16,395.22,395.22,395.08,756,DIA
1671,2024-03-22 19:50:00,110974.0,395.2337,395.24,395.14,395.31,395.13,1344,DIA
1672,2024-03-22 19:55:00,488431.0,396.1359,395.13,394.50,395.17,394.49,2486,DIA

In [53]:
# Grab Average Close Price for last week's stock, rounded up to nearest integer
from math import ceil
testdf.groupby(by='Stock Name')['Close Price'].mean().apply(lambda x: ceil(x))

Stock Name
DIA    393
QQQ    442
SPY    518
VXX     14
Name: Close Price, dtype: int64

## Generate Options Call DataFrame

In [65]:
stock_dic = {'SPY':518, 'QQQ':442, 'VXX':14, 'DIA':393}

df = pd.DataFrame()
for i, (stocksTicker, price) in enumerate(stock_dic.items()):
    for od in range(240318, 240323): # Dates range, Change as necessary
        for strk in range (price - 5, price + 6): # Strike range, Change as necessary
            print(f"Stock: {stocksTicker}, Strike: {strk}")
            odate = str(od)
            strike = str(strk)
            optionsTicker = f"O:{stocksTicker}{odate}C00{strike}000" # This assumes strike is 3-digit. remove a 0 in front if it's 4-digit
            multiplier = 5
            timespan = 'minute' # multiplier + timespan = 5 minutes
            test = f"20{odate[:2]}-{odate[2:4]}-{odate[4:]}"

            query_url = f"{base_url}/v2/aggs/ticker/{optionsTicker}/range/{multiplier}/{timespan}/{test}/{test}?adjusted=true&sort=asc&limit=50000&apiKey={api_key}"
            # Get the response
            response = requests.get(query_url)

            # Retrieve reviews
            reviews = response.json()

            if reviews['resultsCount'] > 0:
                # Convert JSON to Pandas Dataframe
                reviews_df = pd.json_normalize(reviews["results"])
                reviews_df = reviews_df.rename(columns={'v':'Volume', 'vw':'Volume Weighted', 'o':'Open Price', 'c':'Close Price', 'h':'Highest Price', 'l':'Lowest Price', 't':'Timestamp', 'n':'Number of Transaction'})
                reviews_df['Timestamp'] = pd.to_datetime(reviews_df['Timestamp'], unit='ms')
                reviews_df['Stock Name'] = stocksTicker
                reviews_df['Strike'] = strk

                df = pd.concat([df, reviews_df], ignore_index= True, axis = 0)

Stock: SPY, Strike: 513
Stock: SPY, Strike: 514
Stock: SPY, Strike: 515
Stock: SPY, Strike: 516
Stock: SPY, Strike: 517
Stock: SPY, Strike: 518
Stock: SPY, Strike: 519
Stock: SPY, Strike: 520
Stock: SPY, Strike: 521
Stock: SPY, Strike: 522
Stock: SPY, Strike: 523
Stock: SPY, Strike: 513
Stock: SPY, Strike: 514
Stock: SPY, Strike: 515
Stock: SPY, Strike: 516
Stock: SPY, Strike: 517
Stock: SPY, Strike: 518
Stock: SPY, Strike: 519
Stock: SPY, Strike: 520
Stock: SPY, Strike: 521
Stock: SPY, Strike: 522
Stock: SPY, Strike: 523
Stock: SPY, Strike: 513
Stock: SPY, Strike: 514
Stock: SPY, Strike: 515
Stock: SPY, Strike: 516
Stock: SPY, Strike: 517
Stock: SPY, Strike: 518
Stock: SPY, Strike: 519
Stock: SPY, Strike: 520
Stock: SPY, Strike: 521
Stock: SPY, Strike: 522
Stock: SPY, Strike: 523
Stock: SPY, Strike: 513
Stock: SPY, Strike: 514
Stock: SPY, Strike: 515
Stock: SPY, Strike: 516
Stock: SPY, Strike: 517
Stock: SPY, Strike: 518
Stock: SPY, Strike: 519
Stock: SPY, Strike: 520
Stock: SPY, Strike: 521
Stock: SPY, Strike: 522
Stock: SPY, Strike: 523
Stock: SPY, Strike: 513
Stock: SPY, Strike: 514
Stock: SPY, Strike: 515
Stock: SPY, Strike: 516
Stock: SPY, Strike: 517
Stock: SPY, Strike: 518
Stock: SPY, Strike: 519
Stock: SPY, Strike: 520
Stock: SPY, Strike: 521
Stock: SPY, Strike: 522
Stock: SPY, Strike: 523
Stock: QQQ, Strike: 437
Stock: QQQ, Strike: 438
Stock: QQQ, Strike: 439
Stock: QQQ, Strike: 440
Stock: QQQ, Strike: 441
Stock: QQQ, Strike: 442
Stock: QQQ, Strike: 443
Stock: QQQ, Strike: 444
Stock: QQQ, Strike: 445
Stock: QQQ, Strike: 446
Stock: QQQ, Strike: 447
Stock: QQQ, Strike: 437
Stock: QQQ, Strike: 438
Stock: QQQ, Strike: 439
Stock: QQQ, Strike: 440
Stock: QQQ, Strike: 441
Stock: QQQ, Strike: 442
Stock: QQQ, Strike: 443
Stock: QQQ, Strike: 444
Stock: QQQ, Strike: 445
Stock: QQQ, Strike: 446
Stock: QQQ, Strike: 447
Stock: QQQ, Strike: 437
Stock: QQQ, Strike: 438
Stock: QQQ, Strike: 439
Stock: QQQ, Strike: 440
Stock: QQQ, Strike: 441
Stock: QQQ, Strike: 442
Stock: QQQ, Strike: 443
Stock: QQQ, Strike: 444
Stock: QQQ, Strike: 445
Stock: QQQ, Strike: 446
Stock: QQQ, Strike: 447
Stock: QQQ, Strike: 437
Stock: QQQ, Strike: 438
Stock: QQQ, Strike: 439
Stock: QQQ, Strike: 440
Stock: QQQ, Strike: 441
Stock: QQQ, Strike: 442
Stock: QQQ, Strike: 443
Stock: QQQ, Strike: 444
Stock: QQQ, Strike: 445
Stock: QQQ, Strike: 446
Stock: QQQ, Strike: 447
Stock: QQQ, Strike: 437
Stock: QQQ, Strike: 438
Stock: QQQ, Strike: 439
Stock: QQQ, Strike: 440
Stock: QQQ, Strike: 441
Stock: QQQ, Strike: 442
Stock: QQQ, Strike: 443
Stock: QQQ, Strike: 444
Stock: QQQ, Strike: 445
Stock: QQQ, Strike: 446
Stock: QQQ, Strike: 447
Stock: VXX, Strike: 9
Stock: VXX, Strike: 10
Stock: VXX, Strike: 11
Stock: VXX, Strike: 12
Stock: VXX, Strike: 13
Stock: VXX, Strike: 14
Stock: VXX, Strike: 15
Stock: VXX, Strike: 16
Stock: VXX, Strike: 17
Stock: VXX, Strike: 18
Stock: VXX, Strike: 19
Stock: VXX, Strike: 9
Stock: VXX, Strike: 10
Stock: VXX, Strike: 11
Stock: VXX, Strike: 12
Stock: VXX, Strike: 13
Stock: VXX, Strike: 14
Stock: VXX, Strike: 15
Stock: VXX, Strike: 16
Stock: VXX, Strike: 17
Stock: VXX, Strike: 18
Stock: VXX, Strike: 19
Stock: VXX, Strike: 9
Stock: VXX, Strike: 10
Stock: VXX, Strike: 11
Stock: VXX, Strike: 12
Stock: VXX, Strike: 13
Stock: VXX, Strike: 14
Stock: VXX, Strike: 15
Stock: VXX, Strike: 16
Stock: VXX, Strike: 17
Stock: VXX, Strike: 18
Stock: VXX, Strike: 19
Stock: VXX, Strike: 9
Stock: VXX, Strike: 10
Stock: VXX, Strike: 11
Stock: VXX, Strike: 12
Stock: VXX, Strike: 13
Stock: VXX, Strike: 14
Stock: VXX, Strike: 15
Stock: VXX, Strike: 16
Stock: VXX, Strike: 17
Stock: VXX, Strike: 18
Stock: VXX, Strike: 19
Stock: VXX, Strike: 9
Stock: VXX, Strike: 10
Stock: VXX, Strike: 11
Stock: VXX, Strike: 12
Stock: VXX, Strike: 13
Stock: VXX, Strike: 14
Stock: VXX, Strike: 15
Stock: VXX, Strike: 16
Stock: VXX, Strike: 17
Stock: VXX, Strike: 18
Stock: VXX, Strike: 19
Stock: DIA, Strike: 388
Stock: DIA, Strike: 389
Stock: DIA, Strike: 390
Stock: DIA, Strike: 391
Stock: DIA, Strike: 392
Stock: DIA, Strike: 393
Stock: DIA, Strike: 394
Stock: DIA, Strike: 395
Stock: DIA, Strike: 396
Stock: DIA, Strike: 397
Stock: DIA, Strike: 398
Stock: DIA, Strike: 388
Stock: DIA, Strike: 389
Stock: DIA, Strike: 390
Stock: DIA, Strike: 391
Stock: DIA, Strike: 392
Stock: DIA, Strike: 393
Stock: DIA, Strike: 394
Stock: DIA, Strike: 395
Stock: DIA, Strike: 396
Stock: DIA, Strike: 397
Stock: DIA, Strike: 398
Stock: DIA, Strike: 388
Stock: DIA, Strike: 389
Stock: DIA, Strike: 390
Stock: DIA, Strike: 391
Stock: DIA, Strike: 392
Stock: DIA, Strike: 393
Stock: DIA, Strike: 394
Stock: DIA, Strike: 395
Stock: DIA, Strike: 396
Stock: DIA, Strike: 397
Stock: DIA, Strike: 398
Stock: DIA, Strike: 388
Stock: DIA, Strike: 389
Stock: DIA, Strike: 390
Stock: DIA, Strike: 391
Stock: DIA, Strike: 392
Stock: DIA, Strike: 393
Stock: DIA, Strike: 394
Stock: DIA, Strike: 395
Stock: DIA, Strike: 396
Stock: DIA, Strike: 397
Stock: DIA, Strike: 398
Stock: DIA, Strike: 388
Stock: DIA, Strike: 389
Stock: DIA, Strike: 390
Stock: DIA, Strike: 391
Stock: DIA, Strike: 392
Stock: DIA, Strike: 393
Stock: DIA, Strike: 394
Stock: DIA, Strike: 395
Stock: DIA, Strike: 396
Stock: DIA, Strike: 397
Stock: DIA, Strike: 398

In [72]:
df

,Volume,Volume Weighted,Open Price,Close Price,Highest Price,Lowest Price,Timestamp,Number of Transaction,Stock Name,Strike
0,6879,1.9704,1.76,2.27,2.28,1.69,2024-03-18 13:30:00,1170,SPY,513
1,2164,2.1936,2.28,1.98,2.35,1.97,2024-03-18 13:35:00,341,SPY,513
2,1644,2.1707,1.99,2.04,2.29,1.99,2024-03-18 13:40:00,190,SPY,513
3,858,2.0008,2.10,1.87,2.23,1.81,2024-03-18 13:45:00,184,SPY,513
4,655,1.8321,1.94,1.80,1.98,1.73,2024-03-18 13:50:00,117,SPY,513
...,...,...,...,...,...,...,...,...,...,...
8036,8,0.0200,0.02,0.02,0.02,0.02,2024-03-22 18:20:00,2,DIA,398
8037,5,0.0100,0.01,0.01,0.01,0.01,2024-03-22 18:25:00,1,DIA,398
8038,1,0.0100,0.01,0.01,0.01,0.01,2024-03-22 18:45:00,1,DIA,398
8039,1,0.0100,0.01,0.01,0.01,0.01,2024-03-22 18:50:00,1,DIA,398
8040,5,0.0100,0.01,0.01,0.01,0.01,2024-03-22 18:55:00,1,DIA,398

In [75]:
def add_stock_price(row):
    time = row['Timestamp']
    sname = row['Stock Name']
    return testdf.loc[(testdf['Timestamp'] == time) & (testdf['Stock Name'] == sname)]['Close Price'].iloc[0]

tdf = df.copy()
tdf['Stock Close Price'] = tdf.apply(add_stock_price, axis = 1)

tdf

ValueError: Cannot set a DataFrame with multiple columns to the single column Stock Close Price

In [54]:
# Analysis - Checking Max values
print(f"Max values for Volume: {testdf['Volume'].max()}")
print(f"Max values for Volume Weighted: {testdf['Volume Weighted'].max()}")
print(f"Max values for Open Price: {testdf['Open Price'].max()}")
print(f"Max values for Close Price: {testdf['Close Price'].max()}")
print(f"Max values for Highest Price: {testdf['Highest Price'].max()}")
print(f"Max values for Lowest Price: {testdf['Lowest Price'].max()}")
print(f"Max values for Number of Transaction: {testdf['Number of Transaction'].max()}")

# Looking at the result, standardizing of data will be needed!

Max values for Volume: 10364121.0
Max values for Volume Weighted: 523.9702
Max values for Open Price: 524.0
Max values for Close Price: 524.01
Max values for Highest Price: 524.11
Max values for Lowest Price: 523.81
Max values for Number of Transaction: 42817